@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700,100');

*{
	outline: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

html, body {
	overflow-x: hidden;
}

/* Overlay style */
.overlay {
	position: fixed;
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(158, 169, 187, 0.95);
	overflow-y:scroll;
}

.overlay-content{
	position: relative;
	padding-top: 80px;
	margin-left: 80px;
}

.overlay-content h1{
	color: #162626;
	font-weight: 300;
}

.overlay-row{
	display: flex;
	flex-flow: row;
	width: 100%;
}

.overlay-row .col:last-child{
	margin-left: 40px;
}

/* Overlay closing cross */
.overlay .overlay-close {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	background-color: #F95724 !important;
}

.overlay p {
	display: flex;
	flex-flow: row;
	margin-top: 40px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay p:last-child{
	margin-bottom: 100px;
} 

.overlay  p span {
	font-size: 32px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay  p span:last-child{
	font-size: 38px;
	padding-left: 30px;
	color: #F95724;
	opacity: 0.9;
}


/* Effects */
.overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

.overlay-door .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.overlay-door.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.overlay-door.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}